/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

@media(min-width:801px){
    .container{
	    width: 900px;
    	margin: auto;
    	line-height: 1.2;
    }
}
@media(max-width:800px){
    .container{
        background: yellow;
        width: 100%;
        margin: auto;
        line-height: 1.2;
    }
}

@media(max-width:500px){
    .container{
        background: orange;
        width: 100%;
        margin: auto;
    }
}
header{
    display: flex;
    justify-content: space-around;
}

header nav{
	    display: flex;
    	justify-content: space-around;
       	margin: 0px;
	    top:0;
	    width:900px;
    	align-items: center;
    	/* overflow: hidden; */
    	/* position: fixed; */
    	background-color: white;
    }  

.snippet{
    width: 379px;
    height: 379px;
    margin: auto;
}

@media(max-width: 800px){
    header {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
    }
    header nav{
        justify-content: space-around;
        order:2;
        width: 100%;
    }
    .logo{
        order:1;
        width: 183px;
        margin: auto;
    }
}

@media(max-width: 500px){
    header nav{
        display: flex;
        flex-direction: column;
    }
    header nav a {
        width: 100%;
        text-align: center;
        font-size: 130%;
        border-bottom: 1px solid black;
    }
}

header nav a {
	text-decoration: none;
	color:gray;
    padding: 10px 0px; 
	/* transition: transform 2s; */
}

/* header nav a:hover{
	transform: scale(1.5);
} */

.cta{
	font-size: 70px;
	text-align: center;
	margin: auto; 
	height: auto;
    display: flex;
}

@media(max-width:800px){
    .snippet{
        display: none;
    }
    .cta{
        display: flex;
        justify-content: center;
        margin: auto;
    }
}

.cta-div{
	padding:85px;
	vertical-align: top;
}

.cta div h1{
	margin-bottom: 0px;
}

/* @keyframes buttonFade{
	from{background-color:white;
		color: black;
	}
	to{background-color: aqua;
		color: white;
	} 
} */
.buttonA{
	background-color: white;
	border: 1px solid black;
	font-size: 16px;
	padding: 8px 50px;
}
/* button:hover{
	animation-name: buttonFade;
	animation-duration: 3s;
	background-color: aqua;
	color:white;
} */

.main-content{
	border-top: 1px solid black;
	border-bottom: 2px solid black;
    padding: 15px;
    margin: 10px;
}

.two-column{
    display: flex; 
    justify-content: space-between;
} 

.two-column div{
    margin:3%;
}

@media(max-width:500px){
    .two-column{
        display: block;

    }
}
@media(max-width:800px){
    .middle-img{
        width: 100%
    }

}

.three-column{
    display: flex;
}

.three-column div{
    margin: 3%;
}
@media(max-width: 500px){
    .three-column{
        display: block;
    }

}
.contact{
	margin: 30px;
}

footer{
	display: flex;
	justify-content: center;
	margin: 35px;
}
 .services-header-img{
	margin-top: 60px;
}
@media(max-width:800px){
    .services-header-img{
        width: 100%;
    }
}

.top-content{
	padding: 30px 0px;
	border-bottom: 1px solid black;
	margin: 3%;
}
.top-content h1{
    font-size: x-large;
}

.boxes{
	border: 1px solid black;
    background-color: whitesmoke;
    width:47%;
    padding: 20px ;
    margin: 1%;
}
@media(max-width: 500px){
    .boxes{
        width: 100%;
        margin: 3%;
    }
}
.buttonB{
    background-color: white;
    border: 1px solid black;
    font-size: 12px;
    padding: 8px 40px;
    border-radius: 5px;
}

.middle-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
}

.bottom-content{
	padding: 30px 0px;
	border-top: 2px solid black;
	margin:3%;
	display: flex;
	justify-content: space-between;
}
ul{
	list-style-type: square;
	list-style-position: inside;
	line-height: 1.6;
}

.bottom-text{
	width: 48%;
} 

.services-info-img{
    width:420px;
    height:300px;
}

@media(max-width:800px){
    .bottom-content{
        display: block;
    }
    .bottom-text{
        width: 100%;
        margin: 3%;
    }
    .bottom-text ul{
        margin:0 30%;
    }
    .services-info-img{
        display:block; 
        width:50%;
        margin-left:auto;
        margin-right:auto;
        height: auto;
    } 
}

@media(max-width:500px){    
    .services-info-img{
        margin: 3%;
        width:94%;
        height: auto;
    }
    .bottom-text ul{
        margin-left: 10px;
    }
}
